.card {
  width: 540px;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  margin-bottom: 32px;
}

.card__list-item {
  display: flex;
  align-items: center;
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  margin-bottom: 16px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid #000;
  margin: 0 12px;
}

.card__list-item:last-child {
  margin-bottom: 0;
}
