.form {
  max-width: 385px;
  width: 100%;
}

.form__fieldset {
  margin: 0 0 32px;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.form__input {
  width: 100%;
  margin-top: 8px;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 1px solid #838383;
  border-radius: 4px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 32px;
  background-color: #1878dc;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-weight: 500;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
