.menu {
  background-color: #ffffff;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  padding: 100px;
}

.menu__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
  text-align: center;
  margin: 0 0 24px;
}

.menu__subtitle {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  max-width: 780px;
  text-align: center;
  margin: 0 0 100px;
}

.menu__cards {
  display: flex;
  margin: 0;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}
.menu__cards .card:nth-child(3) {
  margin: 0 auto;
}
