.reservation {
  padding: 100px 0 120px;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  text-align: center;
  margin: 0 0 80px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
}

.reservation__form {
  margin: 0 auto;
}
